.nav-wrapper {
    background-color: grey;
}

body {
    background-image: url("../img/zen.jpg");
    background-size: 1400px, 1400px;
}

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}

#theFern {
    height: 70%;
    width: 95%;
    opacity: .8;
}

#header {
	color: white;
	margin-top: 220px;
    width: 100%;
    text-align: center;
    font-family: 'Gugi', cursive;
}