.nav-wrapper {
	background-color: black;
}

#theFern {
	height: 500px;
	width: 700px;
	opacity: 1;
}

h1 {
	text-align: center;
	opacity: 1.0;
}

#header-title {
	opacity: 2;
	border-style: solid black;
}