.nav-wrapper {
    background-color: grey;
}

body {
    background-image: url("../img/zen.jpg");
    background-size: 1400px, 1400px;
}

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}

#theFern {
    height: 70%;
    width: 95%;
    opacity: .7;
}

.navTab {
	font-family: 'Josefin Sans', sans-serif;
}
#header {
	color: white;
	margin-top: 220px;
    width: 100%;
    text-align: center;
    font-family: 'Gugi', cursive;
    opacity: 1 !important;   
}
 
hr {
	width: 400px;
}
h4 {
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

